<!DOCTYPE html>
<html>
  <head>
    <title>Express Dev Skills Lab</title>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <%- include('./partials/header.ejs'); %>
    <div class="container">
      <h1>Express Dev Skill</h1>
      <p>
        This is your introduction to back-end development! Click
        <a href="/skills">here</a> to see skills you need to develop!
      </p>
    </div>
    <div
      class="tenor-gif-embed"
      data-postid="24177057"
      data-share-method="host"
      data-aspect-ratio="1.77778"
      data-width="100%"
    >
      <a href="https://tenor.com/view/this-is-fine-gif-24177057"
        >This Fine GIF</a
      >from <a href="https://tenor.com/search/this-gifs">This GIFs</a>
    </div>
    <script
      type="text/javascript"
      async
      src="https://tenor.com/embed.js"
    ></script>
    <%- include('./partials/footer.ejs'); %>
  </body>
</html>
